/*:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;
  ;
} */
.post-1 {
	background: #B71757;
	color: #DE96B3;
}
.post-2 {
	background: #0D7E71;
	color: #8BC1BB;
}
.post-3 {
	background: #b1660e;
	color: #DAB68B;
}
.post-4 {
	background: #d12767;
	color: #EA9BB9;
}
.post-5 {
	background: #2d95bb;
	color: #9ECEDF;
}
h6{
	display: none;
}
body {
  font-family: roboto;
	background-color: #0b192f;
	margin-top: 0px;
	color: #ffffff;
	max-width: 1400px;
}

header {
	background-color: #162B4D;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav {
	display: none;
}
header h1 {
	margin: 0px;
	padding: 15px;
	display: flex;
}
header nav ul {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	list-style-type: none;
}
header nav ul li {
	padding: 10px;
}
header nav a {

	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
nav li:hover {
	background-color:  #283D5F;
}

.redBlog {
	color: #B71757;
}
header h1 {
	font-weight: 100;
}
main {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}
section {
	display: flex;
	width: 75%;
	flex-direction: column;
}
.post {
	width: 50%;
	padding-top: 45%;
	position: relative;
}
.post .image{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.image img {
	width: 100%;
	height: 100%;
}
.post {
	display: flex;
}

section .textContainer {
	width: 100%;
	height: auto;
	padding-top: 30%;
}
.post:nth-child(odd) {
	width: 80%;
	height: 100%;
	padding-left: 7%;
}
.post:nth-child(odd) .date  {
	float: right;
	width: 7%;
	padding-right: 3%;
	height: 100%;
	padding-top: 20px;
	font-weight: 100;
}
.post:nth-child(even) {
	width: 80%;
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 7%;
}
.post:nth-child(even)  .date {
	float: left;
	width: 7%;
	font-weight: 100;
	padding-top: 20px;
	padding-left: 3%;
	height: 100%;
}
.description  {
	line-height: 30px;
}
.textContainer  h3 {
	color: white;
	font-weight: 100;
	font-size: 42px;
	text-decoration: none;
}
.day {
	padding-top: 7%;
	font-size: 42px;
}
.month {
	font-size: 24px;
}
.textContainer{
	width: 90%;
	float: left;
	padding-left: 3%;
}
.post-text .time {
	padding-top: 20px;
	float: right;
	width: 6%;
}
.post-1 .date {
	color : #CB5987 ;
}
.post-2 .date {
	color : #4DA097 ;
}
.post-3 .date {
	color : #C89254 ;
}
.post-4 .date {
	color : #DE6492 ;
}
.post-5 .date {
	color : #6BB4CF ;
}

aside {
	width: 23%;
}
aside img {
	width: 100%;
}
.textWrapper {
	background-color: #ffffff;
	color: #000000;
	padding: 5%;
}
.textWrapper h3 {
	margin-top: 0;
	font-weight: 300;
	font-size: 32px;
}
.textWrapper p {
	color: #8d8d8d;
	line-height: 30px;
}

footer {
	background-color: #162B4D;
	color: #547689;
	position: relative;
	top: 30px;
	height: 150px;
	display: flex;
}
.footerText {
	width: 85%;
	height: 100%;
	margin-left: 20px;

}
.footerName {
	width: 15%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-device-width: 1400px) {
	header nav {
		font-size: 16px;
	}
	.textContainer  h2{
		font-size: 28px;
	}
	.description {
		font-size: 12px;
		line-height: 25px;
	}
	.post:nth-child(odd) .textContainer {
		padding-left: 5%;
	}
	.post:nth-child(odd)  .date {
		width: 9%;
	}
	.textContainer p {
			line-height: 20px;
		}
	.day {
		font-size: 28px;
	}
	.month {
		font-size: 20px;
	}
	.textWrapper h3 {
		font-size: 26px;
	}
	.post .date{
		font-weight: 300;
	}

}
@media only screen and (max-device-width: 768px)  {
	header nav {
		display: none;
	}
	header {
		margin-left: auto;
		margin-right: auto;
		width: 96%;
		margin-bottom: 20px;
		display: block;
	}
	.nav {
		margin-left: auto;
		margin-right: auto;
		width: 15px;
		height: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.nav ul {
		height: 1px;
		background-color: white;
		width: 100%;
	}
	header h1 {
		margin-right: auto;
		margin-left: auto;
		justify-content: center;
	}
	main {
		padding-top: 0px;
	}
	section {
		width: 55%;
	}
	.post {
		display: block;
	}
	.textContainer {
		padding-top: 96%;
		position: relative;
	}
	aside {
		width: 42%;
	}
	.post .textContainer {
		padding: 10% 5% 0 5%;
		text-align: left;
		height: 55%;
	}
	.post .textContainer .date {
		width: 100%;
		padding: 0px;
		padding-top: 15%;
		height: 10%;
		text-align: center;
	}
	.textWrapper h2 {
		font-size: 36px;
		margin-top: 0px;
	}
	.day {
		font-size: 36px;
	}
	.month {
		font-size: 24px;
	}
	.textContainer {
		width: 100%;
		float: none;
		padding-top: 10%;
		padding-left: 5%;
		padding-right: 5%;
		box-sizing: border-box;
		height: 55%;
	}
	.textContainer .date {
		height: 35%;
		padding-top:15%;
		float: none;
		width: 100%;
		height: 20%;
		font-weight: 300;
		text-align: center;
	}
	footer {
		width: 96%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	footer .footerText {
		height: auto;
		margin: 0px;
		text-align: center;
	}
	footer .footerName {
		display: block;
		text-align: center;
		width: 100%;
		height: auto;
	}

}
@media only screen and (max-device-width: 480px) {
	body {
		width: 100%;
		font-weight: 100;
	}
	main {
		display: block;
	}
	main section {
		width: 100%;
		float: none;
	}

	aside {
		width: 100%;
		margin-bottom: 30px;
		float: none;
	}
}
