$width: 1560px;
$contentBackground: #000;
$headerBackground: url(../img/m-h-night.jpg);
$logo: url(../img/m-logo.png);
$firstFont: 'Source Sans Pro', sans-serif;
$secondFont: 'Hind', sans-serif;
$thirdFont: 'Fresca', sans-serif;
$gradientBanner: linear-gradient(45deg, rgba(225, 169, 1, 1) 0%, rgba(146, 44, 82, 1) 100%);
$underline: #fc4f3c;
$button: #fc4f3c;
