$width: 1560px;
$contentBackground: #fff;
$headerBackground: url(../img/m-h-day.jpg);
$logo: url(../img/m-logo.png);
$firstFont: 'Source Sans Pro', sans-serif;
$secondFont: 'Hind', sans-serif;
$thirdFont: 'Fresca', sans-serif;
$gradientBanner: linear-gradient(to right, rgba(102, 150, 11, 1) 0%, rgba(46, 92, 211, 1) 100%);
$underline: #2398bb;
$button: #6a981a;
